.courseCard_image{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.courseCard_pp{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.chip_modified_by_me_Oski{
    background-color: transparent;
    color: #108058;
    border:#108058 1px solid;
    height: 22px;
    line-height: 22px;
}


.courseCard_tags{
    height: 55px;
    overflow-y: scroll;
}
.chip_modified_by_me_Oski i{
    float: right;
    font-size: 16px;
    line-height: 22px;
    padding-left: 8px;
}

.verified-icon
{
    margin-right: 5px;
    font-size: 15px;
    color: #108058;
}

.course-name
{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #424242;

    /* Para truncar el texto a n lineas */
    display: -webkit-box;
    -webkit-line-clamp: 2;              /* n */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.course-image-container
{
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

.course-image
{
    margin: 0px !important;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.course-teacher
{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    color: #797979;
}

.hover-container
{
    background-color: purple;
    color: white;
    position: absolute;
    left: 100px;
}


@media(max-width:1600px){
    .courseCard_image{
        height: 90px;
    }
}

@media(max-width:1300px){
    .courseCard_image{
        height: 75px;
    }
}

@media(max-width:1100px){
    .courseCard_image{
        height: 60px;
    }
}

@media(max-width:750px){
    .courseCard_image{
        height: 55px;
    }
}

@media(max-width:600px){
    .courseCard_image{
        height: 90px;
    }
}



@media(max-width:480px){
    .little_course{
        width: 100% !important;
    }
    .courseCard_image{
        height: 90px;
    }
}

.fechas-card h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 3px !important;
    margin-top:  8px !important;
}

.fechas-card{
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #263238;
    display: none;
}

.button-course button{
    width: 80%;
    margin: 0px auto;
    filter: drop-shadow(0px 4px 3px rgba(158, 158, 158, 0.25));
    background-color:  #108058;
}
.button-course button:hover{
    background-color:  #108059c5;
}

.button-course{
    margin-top: 15px;
    display: flex;
    align-items: center;
    display: none;
}


.course-card:hover{
    height: 320px !important;
}

.course-card:hover .button-course{
    display: flex;
}

.course-card:hover .fechas-card{
    display: inline;
}

.course-card:hover .course-image{
    height: 50px;
}

.course-card:hover .course-name{
    position: absolute;
    top: 10px;
    display: flex !important;
    background: rgba(60, 60, 60, 0.6);
    color: white;
    left: 0px;
}

.course-card{
    height: 320px !important;
}

.valor-curri{
    color: #134E39;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

    display: none;
    margin-bottom: 5px;
}

.course-card:hover .valor-curri{
    display: flex;
}

.valor-curri i{
    margin-right: 5px;
}
