.info-title
{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    color: #848484;

    margin-top: 10px;
    margin-bottom: 5px;
}

.section-title
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #134E39 !important;

    margin-top: 20px;
}

.foto-ponente{
    object-fit: cover;
}

.button_inscribir{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #108058;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.slider .slides{
    background-color:transparent !important;
}
.slider .indicators .indicator-item.active{
    background-color:#134E39 !important;
}
.slider .indicators .indicator-item{
    width:10px !important;
    height:10px !important;
}