.LC_title{
    color:#134E39;
    font-weight: 500;
    font-size: 17px;
    min-height: 36px !important;
}

.LC_more{
    display: flex;
    justify-content: flex-end;
}

#dropdown_LC{
    width: 242px;
}

.LC_a{
    color:#626262 !important;
    font-size: 13px !important;
    display:flex !important;
    align-items: center;
    justify-content: flex-start;
    line-height: 13px;
    text-transform: capitalize;
    text-align: left;
}

.LC_tab{
    padding: 0px !important;
}

.LC_tab_icons{
    font-size: 16px;
}
