.LC_title{
    color:#134E39;
    font-weight: 500;
    font-size: 17px;
    min-height: 36px !important;
}

.LC_more{
    display: flex;
    justify-content: flex-end;
}

#dropdown_LC{
    width: max-content !important;
}


.LC_a{
    color:#626262 !important;
    font-size: 13px !important;
    display:flex !important;
    align-items: center;
    justify-content: flex-start;
    line-height: 13px;
    text-transform: capitalize;
    text-align: left;
}

.LC_tab{
    padding: 0px !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.tab
{
    color: #134E39 !important;
}

.LC_tab_icons{
    font-size: 16px;
}


.tabs .tab a.active{
    color: #134E39 !important;
    background-color: transparent;
  } 
  
  .tabs .tab a{
    background-color: transparent;
    color: rgba(159, 157, 157, 0.6);
  } 
  
   .tabs .tab a:hover {
    background-color:#eee;
    color:#000;
  }
  
   .tabs .tab a:focus {
    background-color: rgba(0, 255, 0, 0.1);
  }
   .tabs .tab a:focus.active {
    background-color: rgba(0, 255, 0, 0.1);
  }
  
   .tabs .indicator {
    background-color:#134E39;
  }