.comment-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    color: #848484;
}

.comment-container{
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 3px;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    position: relative;
}

.user-pic{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: auto;
    margin-right: 0px;
}

.nombre-comment{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    min-height: 15px;
}

.nombre-comment .name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    /* identical to box height */
    color: #3E3E3E;
    vertical-align: middle;
    min-height: 13px;
}

.nombre-comment .date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;

    color: #8E8E8E;
    vertical-align: middle;
    min-height: 11px;

    display: flex;
    align-items: center;
    margin-left: 10px;
}

.comment-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;

    color: #383838;

    margin-top: 5px;
    padding-bottom: 15px;
}

.comentario-card{
    padding-left: 0px !important;
}

@media (max-width: 600px) {
    .comentario-card{
        padding-left: 0.75rem !important;
    }
    .date{
        margin-left: 0px !important;
    }
    .nombre-comment{
        padding: 0px 0.75rem;
    }
    .user-pic{
        margin-left: auto !important;
        margin-right: auto !important;
    }
  }

  .container-buttons{
    display: flex;
    justify-content: flex-end;
    padding: 0px 0.75rem;
}

.container-buttons button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding: 8px 10px !important;
    width: auto !important;
    background-color: #108058;
}

.container-buttons .guardar{
    background-color: #108058;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.25));
    color: #FFFFFF;
}

.container-buttons .cancelar{
    background-color: transparent !important;
    color: #263238 !important;
    box-shadow: none;
}

textarea#comentario{
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    border-radius: 3px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #979797;
    outline: none;

    margin-top: 15px;
    margin-bottom: 20px;
    resize: none;
    padding:10px;

    transition: all ease 0.25s;
}

textarea#comentario_editado{
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    border-radius: 3px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #8E8E8E;
    outline: none;

    margin-top: 15px;
    margin-bottom: 20px;
    resize: none;
}

.tres_puntos{
    position: absolute;
    top: 10px;
    right: 10px;
}

.tres_puntos a{
    cursor: pointer;
    display: none;
}

.comment-container:hover .tres_puntos a{
    display: block;
}
