.txt-title-card{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #134E39;
}
.txt-course-title{
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 20px;
    color: #242424;
}
.txt-course-title-teacher{
    font-size: 14px !important;
}
.txt-teacher-name{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #585858;
}
.txt-presentation{
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: rgba(38, 50, 56, 0.8);
}
.txt-date-course{
    margin-top: 5px;
    font-size: 12px;
    line-height: 20px;
    color: #263238;
}
.txt-presentation-content{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #1E1E1E;
    margin-top: 5px;
}
.div-tag{
    display:flex;
    align-items: center;
    border: 1px solid #108058;
    box-sizing: border-box;
    border-radius: 10px;
    width: max-content;
    padding:2px;
    padding-right:6px;
    padding-left:6px;
    margin-right:5px;
    margin-bottom:5px;

    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #108058;
}
.container-tags{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.txt-video-course{
    display:flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #134E39;
    margin-top:10px;
}

.div-cousers-teacher{
    margin-bottom: 30px;
    /* border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(129, 129, 129, 0.25);
    border-radius: 2px; */
    /* padding:10px !important; */
}
.txt-progress-course{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    color: #A6A6A6;
}
.title-course-hover{
    color: #242424;
    transition: all ease-in-out 0.25s;
}
.title-course-hover:hover{
    color: #108058;
    transition: all ease-in-out 0.25s;
}

/* TABS CURSO */
.tabs{
    background-color: transparent;
  }
  
  .tab{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #134E39 !important;
  }
  
  .tabs .tab a.active{
    color: #134E39 !important;
    background-color: transparent !important;
  } /*Background and text color when a tab is active*/
  
  .tabs .tab a{
    background-color: transparent;
    color: #A3A3A3;
  } /*Black color to the text*/
  
  .tabs .tab a:hover {
    background-color:#eee;
    color:#000;
  } /*Text color on hover*/
  
  .tabs .tab a:focus {
    background-color:#eee;
    /* background-color: rgba(0, 255, 0, 0.1); */
  }
  .tabs .tab a:focus.active {
    background-color:#eee;
    /* background-color: rgba(0, 255, 0, 0.1); */
  }
  
  .tabs .indicator {
    background-color:#134E39;
  } /*Color of underline*/

  /* FORM CURSO */
.input-field{
    margin: 0px !important;
    /* margin-left: -10px !important; */
    margin-bottom: 8px !important; 
}
.input-field label {
    color:  #108058 !important;
}
.btn-Next-Modal{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #108058;
}
/* HISTORIAL DE CURSOS */
.txt-title-course-history{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #585858;
}

.txt-grade-course{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #585858;
}

.date-course-history{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #585858;
}
.course-status-rejectec{
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #D14747;
}

.btn-login{
    background-color: #108058;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 20px;
  }

@media(max-width:600px){
    .img-course{
        width: 150px !important;
    }
    .txt-teacher-name{
        font-size:12px;
    }
}