.txt-subtitle-ini{
    margin-top:6px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #585858;
}
.link-ver-mas{
    margin-top:6px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 17px;
    color: #108058;
    text-align:right;
}
.txt-not-found{
    margin-top:10px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 17px;
    color: #134E39;
    text-align:center;
}
.table-activities thead tr th{
    font-style: normal;
    font-weight: 500 !important;
    font-size: 11px;
    line-height: 16px;
    color: #6C6C6C;
}
.table-activities tbody tr td{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #1E1E1E;
    cursor:pointer !important;
}
.status-activity{
    font-style: normal;
    font-weight: 600 !important;
    font-size: 8px !important;
    line-height: 10px;
}
.status-cerrado{
    color: #D14747 !important;
}
.status-abierto{
    color: #AAAAAA !important;
}
.status-enviado{
    color: #41AB59 !important;
}

.txt-welcome-prov{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #134E39;
    margin-top:40px;
    margin-bottom:10px;
}
.txt-sub-prov{
    color: #7e7e7e;
    font-weight: 500;
    font-size:15px;
}
.txt-prov{
    margin-top:25px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #1E1E1E;
}
.btn-search-prov{
    color:#134E39;
    border-radius:50px;
    border: solid 1px #134E39;
    padding:10px;
    font-size: 13px;
    transition: all 0.50s ease;
}
.btn-search-prov:hover, .btn-search-prov:focus{
    padding-left:18px;
    padding-right:18px;
    transition: all 0.50s ease;
}